<%- include('partials/head') %> <%- include('partials/header') %>

<main class="container">
  <!-- Section Ajout de film -->
  <section class="add-movie-section">
    <h2>Ajouter un nouveau film</h2>
    <form action="/movies" method="POST" class="movie-form inline-form">
      <div class="form-group inline">
        <label for="title">Titre</label>
        <input
          type="text"
          id="title"
          name="title"
          class="form-control"
          required
        />
      </div>

      <div class="form-group inline">
        <label for="year">Année</label>
        <input
          type="number"
          id="year"
          name="year"
          class="form-control"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary inline-btn">Ajouter</button>
    </form>
  </section>

  <!-- Section Liste des films -->
  <section class="movie-list-section">
    <h2>Liste des films</h2>
    <table class="movie-table">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Année</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% movies.forEach(movie => { %>
        <tr>
          <td><%= movie.movieTitle %></td>
          <td><%= movie.movieYear %></td>
          <td class="actions">
            <form
              action="/movie-details/<%= movie._id %>"
              method="GET"
              class="inline-form"
            >
              <button type="submit" class="btn btn-edit">Modifier</button>
            </form>
            <form class="inline-form">
              <button
                class="btn btn-delete delete-movie"
                data-movie-id="<%= movie._id %>"
              >
                Supprimer
              </button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
</main>

<%- include('partials/footer') %>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".delete-movie").forEach((button) => {
      button.addEventListener("click", function () {
        const movieId = this.getAttribute("data-movie-id");

        if (confirm("Êtes-vous sûr de vouloir supprimer ce film ?")) {
          fetch(`/movies/${movieId}`, {
            method: "DELETE",
            headers: { "Content-Type": "application/json" },
          })
            .then((response) => {
              if (response.ok) {
                window.location.reload();
              } else {
                alert("Une erreur est survenue lors de la suppression");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("Une erreur est survenue lors de la suppression");
            });
        }
      });
    });
  });
</script>
