<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/styles.css">
  </head>

  <body>
    <div class="central">
      <%- include('partials/header') %>
  
      <h1><%- title %></h1>
      
      <div class="french-movies">
        <% for(let movie of movies) { %>
            <div>
              <%= movie.title %> - <%= movie.year %>
            </div>
        <% } %>
      </div>
      <br>
      <div>
        <form action="/movies" method="POST">
          <label for="movietitle">Titre du film</label>
          <input type="text" name="movietitle" id="movietitle">
          <label for="movieyear"> Année du film</label>
          <input type="text" name="movieyear" id="movieyear">
          <button type="submit">Ajouter</button>
        </form>
      </div>
  
    </div>
    <%- include('partials/footer') %>

    <script>
      const form = document.querySelector('form');
      form.addEventListener('submit', addMovie);

      function addMovie(event) {
        event.preventDefault();

        if(fetch){
          fetch('/movies', {
            method: 'POST',
            body: new FormData(form)
          })
          .then(checkStatus)
          .catch(function(error) {console.error('request failed', error)})
        } else {
          //jQuery, XHR
        }
      }

      function checkStatus(response) {
        if(response.status >= 200 || response.status < 300 ) {
          let newMovieDiv = document.createElement('div');

          const movietitle = document.getElementById('movietitle').value;
          const movieyear = document.getElementById('movieyear').value;

          newMovieDiv.innerHTML = `${movietitle} - ${movieyear}`;
          // newMovieDiv.innerHTML = movietitle + ' ' + '(' + movieyear + ')';

          document.querySelector('.french-movies').appendChild(newMovieDiv);

          form.reset();
        }
      }
    </script>
  </body>
</html>